body{
   margin-left: 20px;
}
.chat{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
  
    width: 80%;
    font-size: 20px;
}

.pfrom{
    font-size: 20px;
}

.info-div{
    display: flex;
    flex-direction: row-reverse;
    font-size: 15px;

 
}
.form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.form-div button{
    padding: 10px;
    border-radius: 10px;
    margin-left: 14px;
    font-size: 15px;
    font-weight: 600;
}

.pchat{
    color:rgb(255, 251, 0) ;
}

.msg{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: dodgerblue;
    color: wheat;
    padding: 5px 15px;
    border-radius: 16px;
}


.msg p{
   
width: 60%;
}