
*,
::before,
::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label{
  font-size: 20px;
}


body{
  height: 100%;
  width: 100%;
} 

body{
  display: flex;
  justify-content: center;
  align-items: center;

}

.container1{
  background-color: #FFF;
  padding: 32px 48px ;
  margin-top: 25px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  position: relative;
  left: 20%;
}

.container1 > h1{
  margin-bottom: 20px;
}

.container1 > form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container1 div{
  display: flex;
  flex-direction: column;
}

.container1 input{
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.container1 input::placeholder{
  font-size: 12px;
  font-style: italic;
}

button{
  background-color: rgb(87, 70, 240);
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}


