<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post detail</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div class="div-show-main">
        <center class="center-edit">
            <h2>Here Is Your Post Details </h2>
            <div class="post">
            <p><b>Post Id :</b> &nbsp;<%=  post.id %> </p>

                <p class="user"><b>UserName : </b> &nbsp;@<%=post.username%> </p>
                <textarea><%= post.content %> </textarea>
        
            </div>
        </center>
    </div>

    
    

</body>
</html>