<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New User</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<style>

.new-div{
  width: 80vw;
  height: 80vh;
  background-color: rgba(165, 216, 216, 0.349);
  
}

.new-div form{
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items:first center;
 
}

h4{
  padding: 4%;
}

input{
  border-radius: 5px;
}

</style>
  </head>
  <body>
    <center>
    <div class="new-div">
    
    <form action="/user/new" method="POST">
      <h4>User Email : <input name="email" type="email" placeholder="enter email" /></h4>
    <h4> UserName : <input name="username" type="text" placeholder="enter usernmae" /></h4>
  <h4> User Password :  <input name="password" type="password" placeholder="enter password" /></h4>
  <button class="btn btn-outline-primary">Submit </button>
</form>
</div>
</center>
    
    
  </body>
</html>